<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 card c1">
      <h2> Search News Analyst</h2>


      <input type="text" class="form-control" placeholder="Search" #name /><br>
      <button class="btn btn-primary bt" type="button" (click)="get(name.value)"> Search </button>

    </div>
  </div>
  <br>

  <div *ngIf="isUser">
    <div class="col-lg-4 card c1">
      <div class="card-body" >
       
        <h5> Name : {{analysts.name}} </h5>
        <h5> Email : {{analysts.email}} </h5>
        <h5> Language : {{analysts.language.name}}</h5>
        <h5> Blacklisted : {{analysts.blacklisted}}</h5>
        <button class="btn btn-danger" (click)="changeStatus(analysts.email)"> Blacklisted </button>
      </div>
    </div>
  </div>

</div>